{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <div id="newPost-view">
      <form action="{% url 'new_Post' %}" method="post" id="newpost_form">
        {% csrf_token %}
            <div>
                <textarea class="form-control" rows="10" id="txt_newPost" name="message"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-success" id="btnnewPost">Post</button>
            </div>
        </form>
    </div>
    {% endif %}


{% endblock %}